<div class="card bg-base-100 shadow-md hover:shadow-lg transition-all border border-base-200">
  <div class="card-body">
    <div class="badge badge-primary mb-2">
      {{ post().categoria }}
    </div>

    <h2 class="card-title">{{ post().titulo }}</h2>

    <p class="text-base-content/70">
      {{ post().descripcion }}
    </p>

    <div class="card-actions justify-end mt-4">
      <button [routerLink]="['/post', post().id]" class="btn btn-primary btn-sm">
        Ver detalle
      </button>
    </div>
  </div>
</div>
