<section class="container mx-auto px-4 py-10 max-w-5xl">
  <div class="mb-8">
    <h1 class="text-4xl font-bold">Postulantes</h1>

    <p class="text-base-content/70 mt-2">Candidatos evaluados para este puesto.</p>
  </div>

  <div class="space-y-4">
    @if (postulantesResource.value()?.length) {
      @for (postulante of postulantesResource.value(); track postulante.id) {
        <app-postulantes [postulante]="postulante" />
      }
    } @else {
      <div class="alert">
        <span> No existen postulantes para este puesto. </span>
      </div>
    }
  </div>
</section>
